
správne právo/hmotné/kniha/Spravne pravo hmotne vseobecna cast (Vrabko).pdf
európske právo/Európske-právo-kalesna hruskovic, duris.pdf
prehlasenie_str01.pdf
prehlasenie_str02.pdf
pracovné právo/prednasky/PracovnePravo01.mp4
európske právo/pripad_1-2.mp4
ochrana osobnych udajov/OOU 02 pt.1.mp4
ochrana osobnych udajov/OOU 01.mp4
ochrana osobnych udajov/OOU 02 pt.2.mp4
pracovné právo/prednasky/PP03 - priklady.mp4
jednotný digitálny trh/JDT 01.mp4
pracovné právo/prednasky/PP01.mp4
pracovné právo/prednasky/PP04.mp4
obchodné právo/OP_02.mp4
*.mp4
